#nav {
  height: 5vh;
  width: 100%;
  background-color: black;
  display: flex;
}

#nav .component {

}

#nav .logout {
  
}

#nav .component,
#nav .logout {

  width: 5%;
  height: 90%;
  color: white;
}