#nav {
  height: 5vh;
  width: 100%;
  background-color: black;
  display: flex;
}

#nav .component {

}

#nav .logout {
  
}

#nav .component,
#nav .logout {
  min-width: 8%;
  height: 90%;
  color: white;
  text-align: center;
}